.articleHeader__readTime {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 0.7em;
    grid-area: teaser;
}

.readTime--red { 
    color: hsl(0, 100%, 43.5%);
    padding-right: 2%;
}